<breadcrumb pageTitle="<%- componentNameKebabCase %>.<%- componentNamePluralUpperCase %>"></breadcrumb>
<div class="row btn-toolbar">
  <div class="col-lg-6 col-md-8 col-sm-12">
    <input type="text" class="form-control expandable-control filter-search" (keyup)="filter<%- componentNamePluralPascalCase %>($event)"
           [placeholder]="'<%- componentNameKebabCase %>.FILTER_<%- componentNamePluralUpperCase %>' | translate" />
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-12">
    <div class="card">
      <table class="table table-sm table-outer-bordered table-striped">
        <thead>
        <tr>
          <% for(var i=0; i<properties.length; i++) {-%>

          <th>{{'<%- componentNameKebabCase %>.<%- _.snakeCase(properties[i]).toUpperCase() -%>' | translate}}</th><% } -%>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let <%- componentNameCamelCase %> of filtered<%- componentNamePluralPascalCase %>">
          <% for(var i=0; i<properties.length; i++) {-%>

          <td>{{<%- componentNameCamelCase %>.<%- properties[i] -%>}}</td><% } -%>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
